:root {
  --light-gray: #edeeef;
  --dark-gray: #969696;
  --white: #ffffff;
  --black: #2e2e2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-around {
  justify-content: space-around;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-44 {
  gap: 44px;
}

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.p-4 {
  padding: 4px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-32 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.width-24 {
  width: 24px;
}

.width-28 {
  width: 28px;
}

.width-32 {
  width: 32px;
}

.width-48 {
  width: 48px;
}

.width-128 {
  width: 128px;
}

.full-width {
  width: 100%;
}

.text-medium {
  font-size: 24px;
}

.text-large {
  font-size: 32px;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.bg-white {
  background-color: var(--white);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.color-light-gray {
  background-color: var(--light-gray);
}

.border-radius {
  border-radius: 8px;
}

.text-center {
  text-align: center;
}

.login-slider {
  background-color: var(--white);
  flex: 1;
  border-radius: 10px;
  padding: 2px 0px;
  margin: 0px 0px 0px 1px;
}

.text-input {
  color: var(--dark-gray);
  font-size: 16px;
  padding: 16px 16px;
  border-radius: 8px;
  border: solid 1px var(--dark-gray);
}

.login-btn {
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 18px 0px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

.circle-icon {
  width: 32px;
  height: 32px;
  background-color: var(--black);
  border-radius: 50%;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.vh-100 {
  height: 100vh;
}

/* Medium */
@media (min-width: 768px) {
  .container {
    width: 75%;
  }

  .gray-box {
    position: absolute;
    bottom: -45%;
    left: 400;
    width: 200%;
    height: 100%;
    background-color: var(--light-gray);
    transform: rotate(-45deg);
    z-index: -1;
  }
}

/* Large */
@media (min-width: 1200px) {
  .lg-flex {
    display: flex;
    flex-direction: row;
  }

  .gray-box {
    position: static;
    transform: none;
    width: 80%;
    height: 100%;
    background-color: var(--light-gray);
    z-index: 0;
  }

  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
